<div class="header">
    <div class="hamburger" [class.open]="isAppDrawerOpen" (click)="toggleNav()">
      <span></span><span></span><span></span>
    </div>
    <div class="brand">
      <a routerLink="/">
        <img class="logo" src="../assets/icons/logo.png" alt="logo">
        <h3>Company</h3>
      </a>
    </div>
    <ul class="nav-links-top">
      <li class="nav-links-top-item" *ngIf="!isAuthenticated"><a routerLink="account/login">Login/Register</a></li>
      <li class="nav-links-top-item" *ngIf="isAuthenticated" (click)="onLogout()"><a>Logout</a></li>
    </ul>
</div>