<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Add Product</h2>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" formControlName="name" class="form-control">
            <span></span>
        </div>
        <!-- <div>
            <h3>Product Variants</h3>
            <div style="display: flex;">
                <div class="form-group">
                    <label for="attribute">Attribute</label>
                    <input type="text" name="attribute" id="attribute" formControlName="attribute" class="form-control">
                    <span></span>
                </div>
                <div class="form-group">
                    <label for="value">Value</label>
                    <input type="" name="value" id="value" formControlName="value" class="form-control">
                    <span></span>
                </div>
            </div>
        </div> -->
        <div>
            <h3>Product Variants</h3>
            <div *ngFor="let attribute of attributesArray; let i = index" styl>
                <p>Attribute {{ i+1 }}</p>
                <div style="display: flex;">
                    <div style="margin: 0 16px 16px 0;">
                        <input type="text" name="attributeType" id="attributeType">
                    </div>
                    <div>
                        <input #inputField type="text" name="attributeValue" id="attributeValue" (keydown)="onKeyDown($event, inputField.value)">
                    </div>
                </div>
            </div>
            <button type="button" (click)="addProductAttributes()" class="btn">Add Product Attribute</button>
        </div>
        <app-chips 
            [items]="items"
            [removable]="true"
            [placeholder]="'Enter an item..'"
        ></app-chips>
        <div>
            <button type="submit" class="btn btn-primary">Add</button> | 
            <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        </div>
    </form>
</div>