<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Add Product</h2>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" formControlName="name" class="form-control">
            <span></span>
        </div>
        <div>
            <h3>test</h3>
            <nav id="nav" [class.nav-is-visible]="isNavOpen" (click)="toggleNav()">
                <ul class="dropdown">
                    <li class="dropdown-item"><a href="#">Size</a></li>
                    <li class="dropdown-item"><a href="#">Color</a></li>
                    <li class="dropdown-item"><a href="#">Material</a></li>
                    <li class="dropdown-item"><a (click)="addAttribute()" >Add Attribute</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <h3>Product Variants</h3>
            <div *ngFor="let attribute of attributesArray; let i = index" style="display: flex;">
                <div>
                    <h4>Attribute Type</h4>
                    <input #attributeTypeField type="text" (keydown)="onAttributeTypeKeyDown($event, i, attributeTypeField.value)">
                </div>
                <div class="chip-container" >
                    <h4>Attribute Values</h4>
                    <div class="input-container">
                        <ul class="chip-bar">
                            <li class="chip" *ngFor="let item of getAttributeValues(i); let j = index">
                                <span class="chip-label">{{item}}</span>
                                <span *ngIf="removable" class="material-icons md-18 remove" (click)="removeItem(i,j)">clear</span>
                            </li>
                            <li class="input-field">
                                <input 
                                    #attributeValueField
                                    type="text" 
                                    name="" 
                                    id="" 
                                    class="input"
                                    autocomplete="off"
                                    [placeholder]="placeholder"
                                    (keydown)="onAttributeValueKeyDown($event, i, attributeValueField.value)"
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="chip-footer">
                        <span>Enter a comma or press "Enter" after each tag</span>
                    </div>
                </div>
            </div>
            <button type="button" (click)="addProductAttributes()" class="btn">Add Product Attribute</button>
        </div>
        <!-- <div>
            <h3>Product Variants</h3>
            <div *ngFor="let attribute of attributesArray; let i = index" >
                <p>Attribute {{ i+1 }}</p>
                <div style="display: flex;">
                    <div style="margin: 0 16px 16px 0;">
                        <input #attributeTypeField type="text" (keydown)="onAttributeTypeKeyDown($event, i, attributeTypeField.value)">
                    </div>
                    <div>
                        <input #attributeValueField type="text"  (keydown)="onAttributeValueKeyDown($event, i, attributeValueField.value)">
                    </div>
                </div>
            </div>
            <button type="button" (click)="addProductAttributes()" class="btn">Add Product Attribute</button>
        </div> -->
        <!-- <app-chips 
            [items]="items"
            [removable]="true"
            [placeholder]="'Enter an item..'"
        ></app-chips> -->
        <div>
            <button type="submit" class="btn btn-primary">Add</button> | 
            <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        </div>
    </form>
</div>