:host {
    .chip-container {
        background-color: #fff;
        padding: 0.5rem 0.75rem;
        border-radius: 0.438rem;
        box-shadow: 0 0.375rem 0.75rem #e3e5e3;

        .input-container {
            display: flex;
            align-items: start;
            justify-content: space-between;
            border: 1px solid #918e8e;
            border-radius: 0.438rem;

            .chip-bar {
                cursor: text;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                overflow: hidden;
                font-size: 16px;
                font-weight: 500;
                padding: 0.375rem 0.75rem;
                width: 100%;

                .chip {
                    cursor: default;
                    list-style: none;
                    padding: 0.375rem 0.75rem;
                    margin: 0.125rem;
                    display: inline-flex;
                    align-items: center;
                    flex: 0 0 auto;
                    border-radius: 1.25rem;
                    color: #2a7856;
                    border: 0.125rem solid #5da586;
                    background-color: #d3f4e6;

                    .remove {
                        margin-left: 0.313rem;
                    }

                    .material-icons {
                        &.md-18 {
                            cursor: pointer;
                            font-size: 18px;
                            font-weight: 600;
                        }
                    }
                }

                .input-field {
                    cursor: default;
                    flex: 0 0 auto;
                    list-style: none;
                    display: inline-flex;
                    margin: 0.125rem;
                    padding: 0.375rem 0.75rem;
                    border: 0.125rem solid transparent;

                    .input {
                        outline: 0;
                        border: 0;
                        border-radius: 0;
                        min-width: 2.5rem;
                        flex: 1;
                        font-size: 1rem;

                    }
                }
            }

            .action-btn {
                padding: 0.375rem 0;

                .clear {
                    cursor: pointer;
                    padding: 0.438rem;
                    border-radius: 0.438rem;
                }
            }
        }

        .chip-footer {
            letter-spacing: 0.011rem;
            font-size: 0.75rem;
            margin: 0.188rem 0;
            color: #606060;
            // display: flex;
            // justify-content: space-between;
        }

    }
}

.ripple {
    background-position: center;
    background-color: #fff;
    transition: background 0.6s;

    &:hover, &:focus {
        background: #fff 
            radial-gradient(circle, transparent 1%, #fff 1%) 
            center/15000%;
    }

    &:active {
        background-color: #bec2c4;
        background-size: 100%;
        transition: background 0s;
    }
}

#nav {
    width: 100%;
    top: 90px;
    left: 0;
    z-index: 3;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    display: inline-block;
    font-size: 0.1px;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
    padding: 0;
    cursor: pointer;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;

    .dropdown {
        height:45px;
        padding: 0 10px;
        text-align: left;  
        border: 1px solid #33383B;
        background: #fafafa;
        border-radius: 3px;
        
        .dropdown-item {
            display: block;
            position: relative;
            &:first-child:before {
                  position: absolute;
                  content: ' Menu ';
                  position: relative;
                  font-size: 1.6rem;
                  font-size: 16px;
                  font-weight: 600;
                  text-transform: uppercase;
            }
            &:first-child:after {
                position: absolute;
                top: 0;
                right: 0;
                font-family: FontAwesome;
                font-size: 12px;
                font-size: 1.2rem;
                content: "\f0d7";
                color: #2267B9;
                padding-right: 10px;
            }
        }
    }
    & a {
        display: none;
        font-size: 1.5rem;
        font-size: 15px;
        text-decoration: none;
        text-transform: uppercase;
        color: #4A5564;
    }
}

/* styles for the dropdown open */
#nav.nav-is-visible .dropdown {
    height: initial;
    background: #F1F1F1;
    & .dropdown-item {
      &:first-child:after {
        content: "\f00d";
      }
      & a {
        display: block;
        border-bottom: 2px solid #F1F1F1;
        &:hover {
          border-bottom: 2px solid #4A5564;
        }
      }
      &:last-child {
        margin-bottom: 10px;
      }
    }
}