<div>
    <h3>test</h3>
    <div style="width: 200px;">
        <nav id="nav" [class.nav-is-visible]="isNavOpen" (click)="toggleNav()">
            <ul class="dropdown">
                <li class="dropdown-item"><a href="#">Size</a></li>
                <li class="dropdown-item"><a href="#">Color</a></li>
                <li class="dropdown-item"><a href="#">Material</a></li>
                <li class="dropdown-item"><a (click)="addAttribute()" >Add Attribute</a></li>
            </ul>
        </nav>
    </div>
    <button type="button" (click)="toggleModal()">Show Modal</button>
    <app-modal *ngIf="isModalOpen" (close)="toggleModal()">
        <div modalTitle>
            I am a reusable title!
        </div>
        <p>Hello world!</p>
        <div modalFooter>
            I am a reusable footer!
        </div>
    </app-modal>
</div>