:host {
    .container {
        background-color: #fff;
        padding: 0.5rem 0.75rem;
        border-radius: 0.438rem;
        box-shadow: 0 0.375rem 0.75rem #e3e5e3;

        .input-container {
            display: flex;
            align-items: start;
            justify-content: space-between;
            border: 1px solid #918e8e;
            border-radius: 0.438rem;

            .chip-bar {
                cursor: text;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                overflow: hidden;
                font-size: 16px;
                font-weight: 500;
                padding: 0.375rem 0.75rem;
                width: 100%;

                .chip {
                    cursor: default;
                    list-style: none;
                    padding: 0.375rem 0.75rem;
                    margin: 0.125rem;
                    display: inline-flex;
                    align-items: center;
                    flex: 0 0 auto;
                    border-radius: 1.25rem;
                    color: #2a7856;
                    border: 0.125rem solid #5da586;
                    background-color: #d3f4e6;

                    .remove {
                        margin-left: 0.313rem;
                    }

                    .material-icons {
                        &.md-18 {
                            cursor: pointer;
                            font-size: 18px;
                            font-weight: 600;
                        }
                    }
                }

                .input-field {
                    cursor: default;
                    flex: 0 0 auto;
                    list-style: none;
                    display: inline-flex;
                    margin: 0.125rem;
                    padding: 0.375rem 0.75rem;
                    border: 0.125rem solid transparent;

                    .input {
                        outline: 0;
                        border: 0;
                        border-radius: 0;
                        min-width: 2.5rem;
                        flex: 1;
                        font-size: 1rem;

                    }
                }
            }

            .action-btn {
                padding: 0.375rem 0;

                .clear {
                    cursor: pointer;
                    padding: 0.438rem;
                    border-radius: 0.438rem;
                }
            }
        }

        .chip-footer {
            letter-spacing: 0.011rem;
            font-size: 0.75rem;
            margin: 0.188rem 0;
            color: #606060;
            // display: flex;
            // justify-content: space-between;
        }
    }
}

.ripple {
    background-position: center;
    background-color: #fff;
    transition: background 0.6s;

    &:hover, &:focus {
        background: #fff 
            radial-gradient(circle, transparent 1%, #fff 1%) 
            center/15000%;
    }

    &:active {
        background-color: #bec2c4;
        background-size: 100%;
        transition: background 0s;
    }
}